__pycache__/
**/__pycache__/
*.py[cod]
*$py.class
venv/
.env/
.env.bak/
.venv/
.env
.env.*
*.db
*.sqlite3
UPLOAD_DIRECTORY/
uploads/
media/
staticfiles/
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
*.log
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*.DS_Store
*.iml
build/
dist/
*.egg-info/
.eggs/
MANIFEST
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*.whl
.ipynb_checkpoints/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/